<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Temporada</title>
    <link rel="stylesheet" href="../style/DetailSeason.css">
</head>
<body>
    <div id="app">
        <div v-if="selectedSeason">
            <h2>Detalles de la temporada</h2>
            <p><strong>Temporada:</strong> {{ selectedSeason.name }} ({{ selectedSeason.air_date }})</p>
            <p><strong>Numero de episodios:</strong> {{ selectedSeason.episodes.length }}</p>

            <!-- Episodes -->
            <h3>Episodios</h3>
            <div v-for="episode in selectedSeason.episodes" :key="episode.id">
                <img :src="'https://image.tmdb.org/t/p/w500' + episode.still_path" :style="{ width: '150px'}">
                <p><strong>Episodio {{ episode.episode_number }}:</strong> {{ episode.name }} </p>
                <p><strong>Sinopsis:</strong> {{ episode.overview }} </p>
                <p><strong>Rating:</strong> {{ episode.vote_average.toFixed(1) }}</p>

                <!-- stars -->
                <h4>Estrellas Invitadas</h4>
                <ul>
                    <li v-for="guest in episode.guest_stars" :key="guest.id">{{ guest.name }} como {{ guest.character }}</li>
                </ul>
            </div>

            <button @click="goBack">Regresar</button>
        </div>
    </div>

    <script type="module" src="DetailSeason.js"></script>
</body>
</html>